*
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}
.header-contaier
{
    height: 700px;
    background-image: url("./logos/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 22px;
}
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-container img
{
    width:80px;
   margin-top: 30px;
}
.menu-container
{
    display: flex;
    justify-content: center;
    gap: 50px;
    color:#FB9D5C;
}
.banner-container
{
    display: flex;
    color:#FB9D5C;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    /* margin: auto; */
    text-align: center;
}
.title
{
    color: white;
    font-size: 50px;
    text-align: center;
}
.banner-img
{
    width: 375px;
}
.btn
{
    padding: 15px 30px;
    background-color: #FB9D5C;
    color: rgb(99, 99, 172);
    margin-top:20px;
}
.logoes-container
{
    display: flex;
    justify-content: space-around;
    border: 2px solid gray;
    box-shadow: 4px 4px 8px rgb(65, 67, 148);
    height:35vh;

}
.logoes
{
    padding-top:40px ;
    text-align: center;
}
.logoes img
{
    width:90px;
}
.logo img
{
    width:80px;
}
.our-services
{
    display: flex;
    justify-content:space-evenly;
    padding-top: 50px;
    flex-flow: row wrap

}
.title-1 
{
    text-align: center;
    font-size: 50px;
    color: black;
    margin-top: 20px;

}
.discription
{
    text-align: center;
    font-size:20px;
    margin-top: 10px;
}
.ser
{
    text-align: center;
}
.ser img
{
    margin-top: 10px;
}
.service-box
{
    height: 350px;
    width: 25%;
    border: 2px solid black;
    box-shadow:4px 4px 8px rgb(25, 25, 26);
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
.service-box .description
{
    padding: 20px;
}
/* .our-services2
{
    display: flex;
    justify-content:space-evenly;
    padding-top: 50px;
} */
.About-us-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
    box-shadow:4px 4px 8px rgb(170, 163, 163);
    margin-top: 10px;

}
.About-us-container img
{
    width: 400px;
    padding-top:50px;
   
}
.text .hire-btn
{
    background-color:#0DCAF0;
    border-radius: 5px;
    padding:12px 18px;
    color: black;
    font-weight:bold;
}
.About-us-container
{
    border: 1px solid gray;
    box-shadow:4px 4px 8px rgb(170, 163, 163);
}
.About-us-container .text h1
{
    font-size: 40px;
    padding: 20px;
}
.About-us-container .text h1 span
{
    color: #FB9D5C;
}
.i
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    gap:1px;

}
.i img
{
    width:50px;
    margin-bottom: 30px;
}
footer
{
   
    /* margin-top:50px; */
    height: 60vh;
    background-color: black;
    padding: 50px;
    color: white;
    margin-top: 5px;

}
.footer-container img,.logo-img
{
    width:40px;
    display: inline;
    font-size: 20px;
    color: #FB9D5C;
    
    
}
.footer-container
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
   
}
.box{
    height:180px;
    width:200px;
}
.footer-container h1
{
    color: #FB9D5C;
}
.Address li span
{

    color: #FB9D5C;
    font-size: 16px;
    padding: 15px;
}
.int-box
{
    padding:20px 40px;
    background-color: rgb(186, 170, 170);
    color: white;
    margin-top: 15px;
}
nav li:hover
{
    cursor: pointer;
    background-color: rgb(109, 109, 168);
    color: yellow;
}
.box p
{
    line-height:25px;
    padding-top: 10px;
}
.logo-img span
{
    font-size: 35px;
    color: #FB9D5C;
}